/* starter */
body{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: center;
  background-color: black;
}

header img{
  width: 60%;
}

.invoiceContainer{
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  height: auto;
  display: inline-block;
}

/* test */